* {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    padding: 0.45rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #00000038;
}

.dark {
    background-color: #222;
}

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-nav__brand {
    padding: 8px 0;
    margin-right: 15px;
}

.brand-img__container {
    height: 45px;
}

.brand-img {
    height: 100%;
    width: auto;
}

.toggle-button {
    display: none;
}

.open-time h6 {
    color: #cd7f32;
}

.open-time span {
    color: #93be2f;
}

.main-nav__inner {
    display: flex;
    flex-basis: auto;
    align-items: center;
    margin-left: auto;
}

.main-nav__inner--items {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding: 10px 10px 10px 30px;
    background-color: #cd7f32;
    border-radius: 50px;
}

.main-nav__inner--item {
    padding: 0.5rem 1rem;
}

.main-nav__inner--item a {
    text-decoration: none;
    color: #000000;
}

.main-nav__inner--cta {
    border-radius: 50px;
    background-color: #000000;
}

.main-nav__inner--cta a {
    color: #ffffff;
    padding: 8px;
}

.product-overview::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.product-overview {
    background-image: url("./images/newheader.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 140px 0;
}

.bubble {
    position: absolute;
    width: 180px;
    left: 5%;
    bottom: -10%;
    transform: translateY(-50%);
}

.product-overview__content h1 {
    position: relative;
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
}

.product-overview__content h1 strong {
    color: #cd7f32;
}

.product-overview__content h1 span {
    font-weight: 300;
}

.product-overview__content p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

.product-overview__content p span a {
    text-decoration: none;
    color: #cd7f32;
    outline: 0;
    transition: all 0.3s;
}

.menu-btn {
    position: relative;
    padding: 13px 30px;
    border-radius: 35px;
    margin-top: 20px;
    transition: all 0.3s;
    outline: 0;
    z-index: 1111;
    border: none;
    overflow: hidden;
    border: 2px solid transparent;
    color: #fff;
}

.menu-btn::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #cd7f32, #f65f26);
    border-radius: 35px;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    left: 0;
    top: 0;
    z-index: -1;
}

.menu-btn i {
    vertical-align: middle;
}

.burger-img {
    width: 70%;
    padding-top: 20px;
    margin-left: auto;
    animation: bounce 4s  infinite forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

.mid-section {
    padding: 80px 5px 0 5px;
}

.box-how {
    border-radius: 5px;
    box-shadow: 0 0 32px -7px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 25px;
    margin-bottom: 20px;
}

.box-how h3 {
    font-weight: 600;
    background: -webkit-linear-gradient(#cd7f32, #f65f26);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-how p {
    color: #626161;
}

.order-section {
    margin-left: 30px;
}

.order-section p {
    font-size: 18px;
    color: #626161;
}

.order-link {
    border: none;
    background-color: #cd7f32;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.newsletter-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.curtain {
    position: absolute;
    background: linear-gradient(to right, #201f1f8e, #0808088e);
    height: 300px;
    width: 70%;
    border-radius: 60px;
    z-index: 0;
}

.newsletter {
    background-image: url('./images/pexels-mikhail-nilov-6707512.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 60px;
}

.newsletter-form {
    position: relative;
    padding-top: 70px;
}

.newsletter-form h2 {
    color: #fff;
    font-weight: 400;
    line-height: 45px;
}

input {
    height: 45px;
    width: 38%;
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #f1f0f0;
}

input:focus {
    outline: none;
    border: 2px solid #cd7f32;
}

.newsletter-btn {
    border: none;
    height: 45px;
    color: #fff;
    padding: 0 10px;
    background: linear-gradient(to right, #cd7f32, #f65f26);
}

.main-footer {
    background: #000000;
    padding-top: 52px;
    color: #fff;
    margin-top: 60px;
}

.main-footer__head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.main-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.main-footer__links h2 {
    color: #cd7f32;
    font-size: 2rem;
    font-style: italic;
}

.main-footer__links h2 span {
    color: #f65f26;
}

.main-footer__link {
    margin: 5px 0;
}

.main-footer__link a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

hr {
    width: 100%;
    margin-bottom: 0;
}

.main-footer__custom {
    display: flex;
    justify-content: center;
}

.main-footer__link--custom {
    margin: 18px 20px;
}

.main-footer__link--custom a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ccc;
}

.menu-section {
    padding-top: 90px;
    padding-bottom: 50px;
}

.menu-section__header {
    text-align: center;
    padding-bottom: 30px;
}

.menu-section__header h5 {
    color: #f65f26;
    font-style: italic;
}

.menu-section__header h2 {
    color: #cd7f32;
    font-weight: 700;
}

.menu-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.menu-card {
    margin: 15px;
    width: 30.58%;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 32px -7px rgba(0, 0, 0, 0.1);
}

.menu-card > img {
    width: 150px;
}

.food-display {
    width: 250px;
    margin: auto;
}

.menu-card h4 {
    font-size: 30px;
}

.menu-card h5,
.menu-card p {
    margin-top: 10px;
}

.menu-card p {
    font-size: 18px;
    color: #7f7e7e;
}

.menu-card h5 {
    font-size: 28px;
    font-weight: 700;
    background: -webkit-linear-gradient(#cd7f32, #f65f26);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-menu {
    width: fit-content;
    margin: auto;
}

.day-offer {
    height: auto;
    width: 65%;
    margin: auto;
}

.curtain-custom {
    position: absolute;
    background: linear-gradient(to right, #0808088e, #201f1f8e);
    height: 300px;
    width: 100%;
    z-index: 0;
}

.day-offer__header {
    background-image: url('./images/ing2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    height: 300px;
    margin-bottom: 40px;
}

.day-offer__header h1 {
    position: relative;
    color: #fff;
    width: 80%;
    top: 18%;
    left: 10%;
    font-weight: 700;   
    font-size: 50px;
}

.day-offer__header h1 strong {
    color: #cd7f32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vl {
    border-left:  3px solid #f65f26;
    height: 48px;
    left: 11%;
    /* margin-top: 35px; */
}

.day-offer__description {
    display: flex;
    position: absolute;
    left: 11.5%;
    margin-top: 55px;
}

.day-offer__subtitle p {
    margin-left: 10px;
    color: #fff;
}
/* @media screen and (max-width: 960px) {
    .burger-img {
        margin: 0;
        padding: 0;
        width: 90%;
    }

    .bubble {
        width: 250px;
        left: 11%;
    }

    .product-overview {
        padding-top: 200px;
        padding-bottom: 170px;
    }

    /* .product-overview__content h1 {
        font-size: 65px;
    } 
} 
*/

@media screen and (max-width: 350px) {
    .product-overview__content h1 {
        font-size: 45px;
    }

    .bubble,
    .burger-img {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .product-overview__content h1 {
        font-size: 45px;
    }

    .bubble,
    .burger-img {
        display: none;
    }
}

@media screen and (max-width: 1566px) {
    .product-overview__content h1 {
        font-size: 87px;
    }
}

@media screen and (max-width: 991px) {
    .open-time {
        display: none;
    }

    .product-overview__content h1 {
        font-size: 50px;
    }

    .product-overview__content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .product-overview__content p {
        margin-bottom: 0;
    }

    .menu-btn {
        padding: 10px 20px;
    }

    .bubble {
        width: 135px;
        left: 2%;
    }

    .menu-section {
        width: 100%;
        padding: 60px 5px 45px 5px;
    }

    .menu-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .menu-card {
        width: 45.65%;
    }

    .curtain-custom {
        height: 200px;
    }

    .day-offer__header {
        height: 200px;
        margin-bottom: 25px;
    }

    .day-offer__header h1 {
        top: 20%;
        left: 5%;
        font-size: 30px;
    }

    .day-offer__description {
        left: 6%;
        margin-top: 40px;
    }

    .vl {
        left: 5.5%;
        height: 48px;
    }

    .day-offer__subtitle p {
        font-size: 15px;
        margin-left: 8px;
    }

    .day-offer {
        width: 70%;
    }

    .newsletter-container {
        width: 85%;
    }

    .curtain {
        width: 85%;
        height: 200px;
    }

    .newsletter {
        height: 200px;
    }

    .newsletter-form {
        padding-top: 45px;
    }

    .newsletter-form h2 {
        font-size: 15px;
        line-height: 25px;
    }

    input {
        height: 30px;
        width: 60%;
        padding: 7px;
        font-size: 15px;
        margin-top: 0;
    }

    input:focus {
        border: 1px solid #cd7f32;
    }

    .newsletter-btn {
        margin-top:  8px;
        height: 30px;
        font-size: 15px;
    }

    .main-footer__head {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .product-overview__content h1 {
        font-size: 64px;
    }

    .bubble,
    .burger-img {
        display: none;
    }

    .menu-card {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .product-overview__content h1 {
        font-size: 68px;
    }

    .bubble,
    .burger-img {
        display: none;
    }

    .main-footer__head {
        flex-direction: column; 
        width: 100%;
    }

    .main-footer__links {
        text-align: center;
        padding-top: 20px;
    }

    .main-footer__links:nth-child(1) {
        padding-top: 0;
    }

    .main-footer__links:nth-child(2) {
        padding-top: 0;
    }

    .main-footer__custom {
        flex-direction: column;
    }

    .main-footer__link--custom:nth-child(1) {
        margin-bottom: 5px;
    }

    .main-footer__link--custom:nth-child(2) {
        margin-top: 0;
    }

    .main-footer__link--custom {
        font-size: 11px;
        color: #7f7e7e;
    }
}

@media screen and (max-width: 491px) {
    .product-overview__content h1 {
        font-size: 59px;
    }

    .bubble,
    .burger-img {
        display: none;
    }
}

@media screen and (max-width: 450px) {
.product-overview {
    padding-bottom: 60px;
}

    .product-overview__content h1 {
        font-size: 55px;
    }

    .bubble,
    .burger-img {
        display: none;
    }

    .day-offer__header h1 {
        font-size: 25px;
    }

    .curtain {
        height: 150px;
        border-radius: 0;
    }

    .newsletter {
        height: 150px;
        border-radius: 0;
    }

    .newsletter-form {
        padding-top: 15px;
    }

    .newsletter-form h1 {
        font-size: 20px;
    }
}


@media screen and (max-width: 1199px) {
    .bubble {
        width: 150px;
    }

    .product-overview__content h1 {
        font-size: 64px;
    }

    .product-overview__content p {
        margin-bottom: 0;
    }

    .menu-btn {
        padding: 10px 20px;
    }

    .menu-section {
        width: 100%;
        padding: 75px 5px 40px 5px;
    }

    .menu-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .menu-card {
        width: 46.8%;
    }

    .mid-section .row {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .box-how {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 50px;
        padding: 0;
    }

    .box-how__description {
        align-self: center;
        font-size: 25px;
    }

    .order-section h2,
    .order-section p {
        display: none;
    }

    .order-section button {
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    .order-link {
        padding: 20px 30px;
        font-size: 25px;
        border-radius: 50px;
    }

    .main-footer__head {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .brand-img__container {
        height: 30px;
    }

    .open-time {
        display: none;
    }

    .product-overview {
        padding-top: 85px;
        padding-bottom: 20px;
    }

    .product-overview__content h1 {
        font-size: 38px;
    }

    .product-overview__content p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .menu-btn {
        padding: 5px 20px;
    }

    .menu-section {
        padding: 50px 0 30px 0;
    }

    .menu-section__header {
        padding-bottom: 15px;
    }

    .menu-section__header h5 {
        margin-bottom: 5px;
    }

    .menu-section__header h2 {
        font-size: 25px;
    }

    .menu-container {
        flex-direction: column;
    }

    .menu-container .menu-card:nth-child(3) {
        display: none;
    }

    .menu-card {
        width: 100%;
        margin: 15px 0;
        border-radius: 0;
        box-shadow: none;
    }

    .menu-card p {
        margin-bottom: 10px;
    }

    .menu-card > img {
        width: 100px;
    }

    .food-display {
        width: 150px;
    }

    .curtain-custom {
        height: 150px;
    }

    .day-offer__header {
        height: 150px;
        margin-bottom: 25px;
    }

    .day-offer__header h1 {
        top: 20%;
        left: 5%;
        font-size: 18px;
    }

    .day-offer__description {
        left: 6%;
        margin-top: 30px;
    }

    .vl {
        left: 5.5%;
        height: 38px;
    }

    .day-offer__subtitle p {
        font-size: 12px;
        margin-left: 5px;
    }

    .day-offer {
        width: 83%;
    }

    .box-how {
        border-radius: 0;
    }

    .box-how img {
        width: 100px;
        height: 130px;
    }

    .box-how p {
        font-size: 15px;
    }

    .order-link {
        display: none;
    }

    .newsletter-container {
        width: 90%;
    }

    .curtain {
        width: 90%;
        height: 150px;
        border-radius: 0;
    }

    .newsletter {
        height: 150px;
        border-radius: 0;
    }

    .newsletter-form {
        padding-top: 10px;
    }

    .newsletter-form h2 {
        font-size: 15px;
        line-height: 20px;
    }

    input {
        height: 30px;
        width: 90%;
        padding: 7px;
        font-size: 15px;
        margin-top: 0;
    }

    input:focus {
        border: 1px solid #cd7f32;
    }

    .newsletter-btn {
        margin-top:  8px;
        height: 25px;
        font-size: 15px;
    }

    .main-footer__head {
        flex-direction: column; 
        width: 100%;
    }

    .main-footer__links {
        text-align: center;
        padding-top: 20px;
    }

    .main-footer__links:nth-child(1) {
        padding-top: 0;
    }

    .main-footer__links:nth-child(2) {
        padding-top: 0;
    }

    .main-footer__custom {
        flex-direction: column;
    }

    .main-footer__link--custom:nth-child(1) {
        margin-bottom: 5px;
    }

    .main-footer__link--custom:nth-child(2) {
        margin-top: 0;
    }

    .main-footer__link--custom {
        font-size: 11px;
        color: #7f7e7e;
    }
}

@media screen and (max-width: 960px) {
    .main-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-nav__inner {
        display: block;
        width: 100%;
    }

    .main-nav__inner ul {
        display: none;
        background-color: #cd7f32;
        border-radius: 0;
        text-align: center;
        color: #fff;
        transition: 1s;
    }

    .main-nav__inner--item a {
        color: #fff;
    }

    .main-nav__inner--cta {
        background-color: transparent;
    }

    .toggle-button {
        display: block;
        width: 2.5rem;
        background: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer; 
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .toggle-button:focus {
        outline: none;
    }
    
    .toggle-button__bar {
        width: 100%;
        height: 4px;
        background: #cd7f32;
        display: block;
        margin: 5px 0;
        transition: 0.5s;
    }
}

.change .toggle-button__bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

.change .toggle-button__bar:nth-child(2) {
    opacity: 0;
}

.change .toggle-button__bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

